<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<div class="content">
    <h1 class="progress-title">
      <i class="bx bx-bar-chart-alt-2" style="margin: 20px"></i>Mi progreso
    </h1>
  
    <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
                       [style.display]="shouldRender(node) ? 'flex' : 'none'"
                       class="example-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </cdk-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                       [style.display]="shouldRender(node) ? 'flex' : 'none'"
                       class="example-tree-node">
          <button mat-icon-button cdkTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name"
                  (click)="node.isExpanded = !node.isExpanded"
                  [style.visibility]="node.expandable ? 'visible' : 'hidden'">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </cdk-tree-node>
      </cdk-tree>
  </div>
