::ng-deep :root {
  --bg-color: #30303d;
  --bg-color-alternative: #303064;
  --button-color: #007bff;
}

::-webkit-scrollbar {
  width: 0;
}

.content {
  margin-left: 11rem;
  padding: 2rem;
  transition: margin-left 0.5s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
  margin: 2rem;
}

.grid-item {
  overflow: hidden;
}

.white-container {
  background-color: #fff;
}

.chart-container {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  padding: 0.3rem;
  overflow-y: auto;
}

.main-text {
  text-align: center;
  margin: 1rem;
}

.scrollable-content {
  background-color: #ffffff;
  border: 1px solid #e4e4e7;
  border-radius: 0.7rem;
  margin: 0.5rem;
  padding: 0.1rem 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  max-height: 200px;
  max-width: 510px;
  overflow-y: auto;
}

.main-list {
  padding: 0;
  list-style-type: none;
}

.item-list {
  margin-bottom: 0.5rem;
}

.material-icons {
  font-size: 24px;
  color: rgb(255, 20, 26);
  margin-left: 0.2rem;
}

.completed {
  color: rgb(70, 110, 240);
}

.main-list .item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1124px) {
  .content {
    margin-left: 8rem;
  }
}

@media (max-width: 1050px) {
  .content {
    margin-left: 6rem;
  }
  .course-description {
    font-size: 11px;
  }
  .material-icons {
    font-size: 20px;
    margin-left: 0.3rem;
  }
}

@media (max-width: 800px) {
  .content {
    margin-left: 5rem;
  }
  .course-description {
    font-size: 11px;
  }
  .material-icons {
    font-size: 20px;
    margin-left: 0.3rem;
  }
}

@media (max-width: 766px) {
  .content {
    margin-left: 0;
  }
  .course-description {
    font-size: 11px;
  }
  .material-icons {
    font-size: 20px;
    margin-left: 0.3rem;
  }
}

@media (max-width: 415px) {
  .content {
    padding: 0;
    margin-left: 0;
  }
  .course-description {
    font-size: 12px;
  }
  .material-icons {
    font-size: 22px;
    margin-left: 0.3rem;
  }
  .scrollable-content {
    min-width: 200px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 4rem;
    margin: 0.5rem;
  }
  .grid-item {
    word-break: break-word;
  }
}

@media (max-width: 380px) {
  .course-description {
    font-size: 11px;
  }
  .material-icons {
    font-size: 20px;
    margin-left: 0.3rem;
  }
  .scrollable-content {
    min-width: 160px;
  }
  .grid-item {
    word-break: break-word;
  }
}
