::ng-deep :root {
  --bg-color: #30303d;
  --bg-color-alternative: #303064;
  --button-color: #007bff;
}

::-webkit-scrollbar {
  width: 0;
}

.content {
  margin-left: 11rem;
  padding: 2rem;
  transition: margin-left 0.5s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
  margin: 2rem;
}

.grid-item {
  overflow: hidden;
}

.white-container {
  background-color: #fff;
}

.chart-container {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  padding: 10px;
  overflow-y: auto;
}

.main-text {
  text-align: center;
  margin: 1rem;
}

.scrollable-content {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  max-height: 200px;
  overflow-y: auto;
}

.main-list {
  padding: 0;
  list-style-type: none;
}

.item-list {
  margin-bottom: 0.5rem;
}
