<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<div class="container">
  <div class="left-side">
    <div class="welcome-text">
      <h3>Bienvenido</h3>
    </div>
    <div class="school-text">
      <h1>Escuela de<br />Capacitación Ministerial</h1>
    </div>
  </div>

  <div class="right-side" [ngClass]="{ hide: showContent }" [@slideRight]>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <h2 class="subtitle-text">New in our church?</h2>
      <h2 class="subtitle-text">Register your information</h2>
      <div class="input-container">
        <input
          type="text"
          id="nombres"
          name="nombres"
          placeholder="Nombres"
          [(ngModel)]="nombres"
          required
          autocomplete="off"
        />
      </div>
      <div class="input-container">
        <input
          type="text"
          id="apellidos"
          name="apellidos"
          placeholder="Apellidos"
          [(ngModel)]="apellidos"
          required
          autocomplete="off"
        />
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-select
            id="tipoDocumento"
            name="tipoDocumento"
            [(ngModel)]="tipoDocumento"
            required
          >
            <mat-option value="" disabled selected
              >Tipo de Documento</mat-option
            >
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="Carnet de Extranjeria">CE</mat-option>
            <mat-option value="PTP">PTP</mat-option>
          </mat-select>
        </div>
        <div class="input-container">
          <input
            type="text"
            id="documento"
            name="documento"
            placeholder="Documento"
            [(ngModel)]="documento"
            required
            autocomplete="off"
          />
        </div>
      </div>
      <div class="input-container">
        <input
          type="date"
          id="fechaCumpleanos"
          name="fechaCumpleanos"
          placeholder="Fecha de cumpleaños"
          [(ngModel)]="fechaCumpleanos"
          required
        />
      </div>
      <div class="input-container">
        <mat-select id="zona" name="zona" [(ngModel)]="zona" required>
          <mat-option value="" disabled selected
            >Selecciona una zona</mat-option
          >
          <mat-option value="Zona 1">Zona 1</mat-option>
          <mat-option value="Zona 2">Zona 2</mat-option>
          <mat-option value="Zona 3">Zona 3</mat-option>
          <mat-option value="Zona 4">Zona 4</mat-option>
          <mat-option value="Zona 5">Zona 5</mat-option>
          <mat-option value="Zona 6">Zona 6</mat-option>
          <mat-option value="Zona 7">Zona 7</mat-option>
          <mat-option value="Zona 8">Zona 8</mat-option>
          <mat-option value="Zona 9">Zona 9</mat-option>
          <mat-option value="Zona 10">Zona 10</mat-option>
          <mat-option value="Zona 11">Zona 11</mat-option>
          <mat-option value="Zona 12">Zona 12</mat-option>
          <mat-option value="Zona 13">Zona 13</mat-option>
          <mat-option value="Zona 14">Zona 14</mat-option>
          <mat-option value="CDL">IACYM CDL</mat-option>
          <mat-option value="Oquendo">IACYM Oquendo</mat-option>
          <mat-option value="Polo">IACYM El Polo</mat-option>
        </mat-select>
      </div>
      <div class="input-container">
        <input
          type="tel"
          id="numeroCelular"
          name="numeroCelular"
          placeholder="Número de celular"
          [(ngModel)]="numeroCelular"
          required
          pattern="[0-9]{9}"
          autocomplete="off"
        />
      </div>

      <button class="submit-button" type="submit" (click)="replaceContent()">
        Register
      </button>
    </form>

    <div class="account-container">
      <h3 class="no-account-text">
        Ya tienes una cuenta?
        <span class="register-link" routerLink="/login">Ingresar</span>
      </h3>
    </div>
  </div>

  <div
    class="new-content"
    [ngClass]="{ show: showContent, hide: !showContent }"
  >
    <div class="new-content-container">
      <h2 class="subtitle-text">HOLAAAA</h2>
      <h2 class="subtitle-text">Register your information</h2>
    </div>
  </div>
</div>
