<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
</head>

<nav class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
  <div style="margin-bottom: 1.5rem; margin-top: 0.6rem;" class="toggle-btn" (click)="toggleSidebar()">
    <span class="icon" *ngIf="!isCollapsed"><i class="bx bx-x"></i></span>
    <span class="icon" *ngIf="isCollapsed"
      ><i class="bx bx-right-arrow"></i
    ></span>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of filteredNavbarItems">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="!isCollapsed">{{
          data.label
        }}</span>
      </a>
    </li>
  </ul>

  <li style="position: absolute; bottom: 4rem; left: 1.5rem;">
    <a>
      <span style="font-size: 20px" class="text-sidebar" *ngIf="!isCollapsed"
        ><i class="bx bxs-user-circle" style="margin-right: 7px"></i
        >{{ userName }}</span
      >
      <span style="font-size: 20px" class="icon-sidebar" *ngIf="isCollapsed"
        ><i class="bx bxs-user-circle"></i
      ></span>
    </a>
  </li>
</nav>
